html {
  background-image: url("assets/bg.jpg");
  position: absolute;
  z-index: -100;
  background-size: cover;
}
@media (max-width: 500px) {
  .wrapper {
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 15px 150px 25px;
    grid-template-areas:
      "header"
      "nav"
      "feedOne"
      "feedTwo"
      ".";
  }
}

@media (max-width: 700px) {
  .wrapper {
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45px 25px 200px 45px;
    grid-template-areas:
      "header header"
      "nav nav"
      "feedOne feedTwo"
      ". .";
  }
}
.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65px 45px;
  grid-template-areas:
    "header header"
    "nav nav"
    "feedOne feedTwo"
    "footer footer";
}
.header {
  grid-area: header;
  background-image: url("/assets/header_bg.svg");
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  background-color: white;
}
#whiteBar {
  background-color: white;
  position: relative;
  z-index: -10;
}
#logo {
  position: relative;
  z-index: 3;
  margin-left: 50.5rem;
}
.nav {
  grid-area: nav;
  background-color: black;
  height: 2.5rem;
}

h2 {
  font-family: "Oswald", sans-serif;
  display: inline-block;
  position: relative;
  z-index: 5;
  color: grey;
  margin: auto;
}

h2:hover {
  color: orange;
}
.feedOne {
  margin-top: 1rem;
  margin-left: 38.5rem;
  margin-right: 1rem;
  grid-area: feedOne;
  grid-gap: 20px;
}

.feedOne > div {
  background-color: white;
  max-width: 15rem;
  margin: 1rem;
}
.feedTwo {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 38.5rem;
  grid-area: feedTwo;
  grid-gap: 20rem;
}

.feedTwo > div {
  background-color: white;
  max-width: 15rem;
  margin: 1rem;
}
#contentDiv {
  font-family: "Oswald", sans-serif;
  margin: 10px;
  max-width: auto;
}

#picture {
  margin: 0 auto;
  padding: 2.5rem;
  border: 10px black;
}
.footer {
  grid-area: footer;
  background-color: black;
}

#logo {
  z-index: 10;
  border: 5px black;
}
